.underline {
    text-decoration: underline;
}

a:hover {
    color: rgba(200, 150, 100, 0.75);
    text-decoration: none;
}

svg .about-highlight {
    height: 2rem;
    width: 2rem;
}

.stats-header {
    font-family: 'Medium';
    font-size: 1.75rem;
    margin-bottom: 2%;
}

.about-header {
    color: rgba(0, 50, 100, 0.75);
    font-family: 'Medium';
    font-size: 1.75rem;
    margin-bottom: 5%;
}

.about-header-accent {
    color: rgba(60, 60, 60, 0.5);
    font-family: 'Medium';
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.about-subheader {
    color: rgba(200, 150, 100);
    font-family: 'Medium';
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 5%;
}

.about-subheader-accent {
    color: rgba(60, 60, 60, 0.5);
    font-family: 'Medium';
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 5%;

}

.about-text {
    color: rgb(60, 60, 60);
    font-family: 'Regular';
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 5%;
}

.about-text-accent {
    color: rgba(0, 50, 100, 0.75);
    font-family: 'Medium';
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 5%;
}


.about-highlight {
    color: rgba(200, 150, 100);
    font-family: 'Medium';
}

.about-highlight-accent {
    color: rgba(60, 60, 60, 0.5);
}

.about-highlight-secondary-accent {
    color: rgba(0, 50, 100, 0.75);
}

.card {
    margin-left: 1rem;
    padding: 0;
}

.developer {
    /* border-radius: 10rem; */
    height: 40rem;
    width: 13rem;
}

.developer-image {
    border-radius: 0.75rem;
}

.about-card-body {
    padding: 0;
    padding-left: 5%;
    margin-top: 15%;
}

.about-card-img {
    border-radius: 10rem;
    border: 1px solid rgba(60, 60, 60, 0.5);
}

.remove-list-bullet {
    list-style-type: none;
}
