html {
    font-size: 14px;
}

body {
    background-color: rgb(250, 250, 250);
    margin: 4% 0%;
}

li {
    padding-bottom: 2%;
}

ul {
    padding-inline-start: 0;
}

a {
    color: rgba(0, 50, 100, 0.75);
}

.page {
    margin-top: 10%;
    padding: 0% 4%;
}
