.card {
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #afafaf;
    height: 28rem;
    width: 18rem;
    margin: 2rem 1.5rem;

}

.large_card {
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #afafaf;
    height: 36rem;
    width: 18rem;
    margin: 2rem 1.5rem;

}

.card-img-top {
    border: 0.5px solid rgba(60, 60, 60, 0.25);
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 15rem;
}

.card .card-title {
    color: rgba(0, 50, 100, 0.75);
    font-family: 'Semibold';
    font-size: 1.25rem;
    padding: 0;
    margin: 0.5rem 0;
}

.card .card-body {
    padding: 1rem 2rem;
    margin: 0;
}

.card .card-title .alternative {
    color: rgba(200, 150, 100, 1.0);
    font-family: 'Semibold';
    font-size: 1.25rem;
    padding: 0;
    margin: 0.5rem 0;
}

.card .card-body .field {
    color:  rgba(60, 60, 60, 0.75);
}

.date {
    color:  rgba(200, 150, 100, 1.0);
    font-family: 'Semibold';
    font-size: 1.125rem;
}


.promoter {
    color:  rgba(60, 60, 60, 0.5);
    font-family: 'Semibold';
    font-size: 1.125rem;
    text-transform: capitalize;
}

.source {
    color:  rgba(60, 60, 60, 0.5);
    font-family: 'Semibold';
    font-size: 1.125rem;
    text-transform: capitalize;
}

.moreInfo {
    color:  rgba(200, 150, 100, 1.0);
    font-family: 'Semibold';
    font-size: 1.25rem;
    text-transform: capitalize;
    text-decoration: underline;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: transparent;
    border: none;
    margin: 1rem;
}

.moreInfo:hover {
    color: rgba(60, 60, 60, 0.5);
    text-decoration: underline;
}
