.dropdown-menu {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    width: 23rem;
}

.dropdown-item {
    color: rgba(0, 50, 100, 0.75);
    font-family: 'Semibold';
    text-transform: capitalize;
    margin: 0.25rem;
}

.dropdown-item:hover {
    color: rgb(200, 150, 100);
    font-family: 'Semibold';
    text-transform: capitalize;
}

.dropdown-menu .form-control {
    width: 13rem;
}
