@font-face {
    font-family: 'Black';
    src: local('SF-Pro-Rounded-Black'), url(../fonts/SF-Pro-Rounded-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Heavy';
    src: local('SF-Pro-Rounded-Heavy'), url(../fonts/SF-Pro-Rounded-Heavy.otf) format('opentype');
}

@font-face {
    font-family: 'Bold';
    src: local('SF-Pro-Rounded-Bold'), url(../fonts/SF-Pro-Rounded-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Semibold';
    src: local('SF-Pro-Rounded-Semibold'), url(../fonts/SF-Pro-Rounded-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Medium';
    src: local('SF-Pro-Rounded-Medium'), url(../fonts/SF-Pro-Rounded-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Regular';
    src: local('SF-Pro-Rounded-Regular'), url(../fonts/SF-Pro-Rounded-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Light';
    src: local('SF-Pro-Rounded-Light'), url(../fonts/SF-Pro-Rounded-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Thin';
    src: local('SF-Pro-Rounded-Thin'), url(../fonts/SF-Pro-Rounded-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Ultralight';
    src: local('SF-Pro-Rounded-Ultralight'), url(../fonts/SF-Pro-Rounded-Ultralight.otf) format('opentype');
}
