
.load{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
}

.load hr{
    border:0;
    margin:0;
    width:50%;
    height:50%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite}

.load :first-child{background:#787878;animation-delay:-1.5s}
.load :nth-child(2){background:#c89664;animation-delay:-1s}
.load :nth-child(3){background:#3c5a78;animation-delay:-0.5s}
.load :last-child{background:#78003c}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
