.backButton {
    padding: 0;
    margin: 0;
    margin-left: 0.275%;
}

.backText {
    font-family: 'Semibold';
    font-size: 1.5rem;
    color: rgba(0, 50, 100, 0.75);

}

#model-img {
    border: 0.5px solid rgba(60, 60, 60, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 25px #afafaf;
    height: 20rem;
    width: 40rem;
    margin: 5% 3%;
}

.modelOverview {
    margin-left: -1.2%;
}

.modelOverview .card-img-top {
    box-shadow: 0px 0px 25px #afafaf;
    height: 20rem;
    width: 40rem;
    margin-left: 3%;
}

.header {
    font-family: 'Semibold';
    font-size: 2rem;
    color: rgb(200, 150, 100);
    margin-left: 0.275%;
}

.info-row {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.info-title {
    font-family: 'Medium';
    font-size: 1.5rem;
    width: 35%;
    color:  rgba(60, 60, 60, 0.5);
    line-height: 1.75rem;
    padding-left: 3%;
}

.info-body {
    font-family: 'Medium';
    width: 65%;
    color: rgba(0, 50, 100, 0.75);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
