h2 {
    font-family: 'Semibold';
    margin: 0;
}

.modelHeader {
    margin-left: 0.025rem;
    margin-right: 1rem;
}

.modelPage {
    color: rgba(200, 150, 100, 1.0);
}

.divider {
    color: rgba(60, 60, 60, 0.25);
    font-family: 'Thin';
}

.pageDeclaration {
    color: rgba(0, 50, 100, 0.75);
}

.btn-primary {
    background-color: transparent;
    border: none;
    color: rgba(0, 50, 100, 0.75);
    font-family: 'Medium';
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: transparent;
    border: none;
    color: rgba(200, 150, 100, 1.0);
}

.btn-primary.dropdown-toggle {
    text-transform: capitalize;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: rgba(200, 150, 100, 1.0);
}
