#appbar {
    background-color: rgb(250, 250, 250);
    padding: 2% 4%;
    margin: 0;
    border-bottom: 1px solid rgba(125, 125, 125, 0.25);
}

#brand {
    color: rgb(200, 150, 100);
    font-family: 'Semibold';
    font-size: 2.0rem;
    letter-spacing: 0.1rem;
}

.navbar-nav {
    padding-right: 6%;
}

.navbar-nav .nav-link {
    font-family: 'Medium';
    font-size: 1.25rem;
    margin: 0% 2.5%;

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(200, 150, 100);
    transition: color 0.25s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 50, 100, 0.75);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 50, 100, 0.75);
}
