.pageNav {
    margin: 3rem;
}

.page-link:not(:disabled):not(.disabled) {
    background-color: transparent;
    border: 1px solid rgba(200, 150, 100, 1.0);
    border-radius: 25px;
    color: rgba(0, 50, 100, 1.0);
    margin: 0.25rem;
}

.page-link:not(:disabled):not(.disabled):hover {
    background-color: rgba(200, 150, 100, 0.5);
    border-color: rgb(200, 150, 100);
    color: rgba(0, 50, 100, 0.75);
}

.primaryPaginate {
    background-color: rgba(200, 150, 100, 0.5);
    border: 1px solid rgba(200, 150, 100, 1.0);
    color: rgba(0, 50, 100, 1.0);
    margin: 0.25rem;
}

.primaryPaginate:hover {
    background-color: rgba(0, 50, 100, 0.75);
    border: 1px solid rgba(0, 50, 100, 1.0);
    color: rgba(200, 150, 100, 1.0);
}
