.form-inline .form-control {
    background-color: transparent;
    border-color: rgb(200, 150, 100);
    color: rgb(200, 150, 100);
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 0rem 1.5rem;
    width: 15rem;
}

.form-inline .form-control:focus, .form-control:active {
    background-color: transparent;
    border-color: rgb(200, 150, 100);
    outline: none !important;
    box-shadow: none !important;
}

::placeholder {
    overflow: visible;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    border-color: rgb(200, 150, 100);
    color: rgb(200, 150, 100);
}

.btn-outline-primary:hover {
    background-color: rgba(200, 150, 100, 0.5);
    border-color: rgb(200, 150, 100);
    color:  rgba(0, 50, 100, 0.75);
}
