.vis_page_name {
    color: rgb(200, 150, 100);
    margin-left: 0.025rem;
    margin-right: 1rem;
}

.vis_page_d3_title {
    color: rgba(60, 60, 60, 0.5);
    margin: auto;
    text-align: center;
}

.scrollable {
    overflow: auto;
}

.nav-link {
  padding: 0;
}

.nav-tabs .nav-link {
    font-family: "Semibold";
    font-size: 1.75rem;
    color: rgba(60, 60, 60, 0.5);
    margin-left: 0.025rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: rgba(0, 50, 100, 0.75);

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: none;
  border: none;
  color: rgba(0, 50, 100, 0.75);
}

.recharts-wrapper, .recharts-legend-wrapper{
  margin : 0 auto;
}
